.heading{
  height: 84px;
  width: 1519.2px;
  position: fixed;
  display: block;
  z-index: 200;
  margin: 0px;
  padding: 0px; 
}
.aside-heading{
  background-color:rgb(240, 240, 240);
  height: 40px;
  width: 1519.2px;
  position: fixed;
  z-index: 200;
  color: rgba(0, 0, 0, 0.8); 
  display: block; 
}
.aside-content{
  font-size: 12px;
  list-style-type: none;
  width: 980px;
  padding: 0px 22px; 
  display: flex; 
  align-items: center;
  margin: 0px;
  position: relative;
  top: 0px;
  left: 247.6px;
}
.heading-one-content{
  padding: 0px 12px;
  height: 40px;
  line-height: 40px;
  color:  rgba(0, 0, 0, 0.8);
  display: block;
  text-align: left;
  margin-left: -12px;
}
.vertical-segment{
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  height: 12px;
  display: block;
}
.exit{
  width: 20.29px;
  padding: 0px 12px;
  line-height: 40px;
  margin: 0px;
  color:  rgba(0, 0, 0, 0.8);
  display: block;
}
.nav-wrap{
  background-color: #161617dd;
  height: 44px;
  width: 1519.2px;
  position: fixed;
  top: 40px;
  left: 0px;
  z-index: 200; 

}
.menu{
  margin: 0px 247.6px;
  padding: 0px 22px;
}
 
.nav-menu{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px; 
  line-height: 44px;
  font-size: 12px;
  font-weight: 400; 
  margin: 0px -8px;
  padding: 0px;
  
 }
 .link-navmenu-list{
  color: rgb(200, 200, 200);
  transition: color 0.25s;
 
 }
 .link-navmenu-list:hover{
  color: rgb(230, 230, 230);
  text-decoration: none;
 }
 

 
 .menu-list{
  vertical-align: middle;
 }
 .li{
  padding: 0px 8px;
 }
.apple{
  margin-bottom: 5px;
  height: 40PX;
  cursor: pointer; 
  vertical-align: middle;
  fill:grey;

}
.apple:hover{
  color: rgb(230, 230, 230);
  text-decoration: none;
    }
  
}
.search-Icon{
  height: 40PX;
  cursor: pointer;
  vertical-align: middle;
}
.bag-icon{
  height: 40px;
  cursor: pointer;
  vertical-align: middle;
}
li{
  cursor: pointer;
  padding: 0PX 8PX;
  vertical-align: middle;
}